<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Benutzer</th>
    <td mat-cell *matCellDef="let element"> {{element.username}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> E-Mail</th>
    <td mat-cell *matCellDef="let element"> {{element.email}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> Vorname</th>
    <td mat-cell *matCellDef="let element"> {{element.firstname}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Nachname</th>
    <td mat-cell *matCellDef="let element"> {{element.lastname}}</td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Admin</th>
    <td mat-cell *matCellDef="let element">
      <mat-select [(value)]="element.role">
        <mat-option value="USER">Benutzer</mat-option>
        <mat-option value="ADMIN">Administrator</mat-option>
      </mat-select>
    </td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef> Aktiv</th>
    <td mat-cell *matCellDef="let element">
      <mat-select [(value)]="element.active">
        <mat-option value=true>Aktiv</mat-option>
        <mat-option value=false>Inaktiv</mat-option>
      </mat-select>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Aktion</th>
    <td mat-cell *matCellDef="let row">
      <button (click)="onDeleteUser(row)" mat-raised-button color="warn">Löschen</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
