<mat-toolbar color="primary">
  <span>
    <img src="assets/logo.png" class="logo">
  </span>
  <p>Stockpicker</p>
  <span class="fill-remaining-space"></span>
  <button *ngIf="isLoggedIn" mat-button routerLink="account">Konto</button>
  <button *ngIf="isLoggedIn" mat-button routerLink="trade">Handel</button>
  <button *ngIf="!isLoggedIn" mat-button routerLink="login">Anmelden</button>
  <button *ngIf="!isLoggedIn" mat-button routerLink="register">Registrieren</button>
  <button *ngIf="isLoggedIn" mat-button (click)="onLogout()">Abmelden</button>
</mat-toolbar>
