<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Bitte geben Sie Ihren Nutzernamen und Passwort ein, um sich anzumelden.</p>
        <mat-form-field  class="full-width-input">
          <input matInput formControlName="username" placeholder="Benutzer"
                  required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Passwort"
                 formControlName="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Anmelden</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
