table {
  width: 100%;
}

.rightAlign {
  text-align: right;
}



.positive {
  background-color: lightgreen;
}

.negative {
  background-color: lightcoral;
}

tr.mat-footer-row {
  font-weight: bold;
}


