<div class="content">
  <app-stock (price)="onPriceChange($event)" symbol={{symbol}}></app-stock>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <button mat-raised-button color="warn" routerLink="/trade" type="button">Zurück</button>
        <mat-form-field>
          <mat-select (selectionChange)="onTradeTypeSelectionChange($event)" placeholder="Geschäftsart"
                      formControlName="tradeType" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let tradeType of tradeTypes" [value]="tradeType">
              {{tradeType}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput formControlName="amount" placeholder="Stück / Anzahl"
                 required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input readonly="true" matInput formControlName="price" placeholder="Aktueller Preis"
                 required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input readonly="true" matInput formControlName="holdAmount" placeholder="Im Besitz"
                 required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Bestätigen</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
